
.app{
  display: flex;
  justify-content: center;
  padding: 150px;
}

body{
  background-color: brown;
}

.inside{
  align-self: center;
  background-color: gray;
  color: white;
  width: 40%;
  padding: 250px;
  width: 50%;
  height: 50%;
}









